*{
  box-sizing: border-box;

}

body{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;

}

/*--------HEADER-------- */
.wrapper{
  background: #fafafa;

}

h1{
  text-align: center;
  margin-top: 0;
  margin-bottom: .8em;
  padding-top: 0.8em;
}

.main-nav ul{
  list-style: none;
  text-transform: uppercase;
  text-align: center;
  padding-left: 0;
}

.main-nav ul li{
  border:1px solid white;
  margin-top: 6px;
  padding: 10px;
  background: #ffffff;
  margin-left: 15px;
  margin-right: 15px
}

.main-nav ul li a{
  color: black;
  text-decoration: none;
  font-weight:900;
}
.header-img{
    display: block;
    margin-top: 2.5em;
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
    width: 55%;


}
.wrapper p{
  width: 90%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: grey;
  padding: 0 0.8em 0 0.8em;
  padding-bottom: 3em;

}

/*--------COLUMS--------*/
#port-header{
  padding-bottom: 1.7em;
  text-transform: uppercase;
  font-size: 1.2em;
}

.content h2 {
  text-align: center;
  padding-top: 1em;

}

.col{
  margin-top: 1em;

}
 .content p{
  text-align: center;
  margin-left: 1.5em;
  margin-right: 1.5em;
  margin-bottom: 2.2em;
  padding: 2px;
 }

.responsive {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

/*--------FOOTER--------*/

.main-footer{
  background: #fafafa;
}

.main-footer h2{
  text-align: center;
  padding-top: 4em;
  padding-bottom: 1.4em;
  text-transform: uppercase;
  font-size: 1.2em;
}
.footer{
  margin-left: 1em;
  margin-right: 1em;

}
.footer p {
  text-align: center;

}

.contact-details li{
  display: inline-block;
  list-style: none;
  text-align: center;
  margin-top: 20px;
}

.contact-details ul{
  margin-left: 1em;
  margin-right: 1em;
  padding-bottom: 3em;
}

.seperation{
  margin-left: 1.4em;
  font-weight: bold;

}

.bottom-foot {
  display: inline-block;
}

.footer h3{
  font-size: 1em;

}
#back-top {
  margin-left: 8em;
  text-decoration: none;
  color: black;
}

.foot-border {
  padding-top: 1em;
  border-top: 1px solid grey;
  margin-bottom: 0;

}

.nav-footer {
  display: none;
}

/* CLEARFIX */
.clearfix::after {
		content: " ";
		display: table;
		clear: both;
	}


/*--------MEDIA QUERIES--------*/

@media (min-width: 768px){
  h1,
  .main-nav,
  .main-nav ul,
  .main-nav li {
    /* margin-right: 1em; */

  }
  .main-nav ul {
    text-align: center;
  }
  .main-nav li {
    display: inline;

  }
  .wrapper h1{
    padding-top: 1em;
    text-align: center;

  }
  .main-nav ul li{
    border: none;
    background: #fafafa;
  }
  .main-nav{
    /* float: right; */
    padding-top: 1em;

  }

  .header-img {
    display: block;
    width: 70%;
    margin-top: 1.3em;
    margin-right: 3.5em;
    margin-bottom: 3.5em;
  }

  .right-col {
    float: right;
    width: 45%;
    margin-top: 1em;
  }

  .left-col {
    float: left;
    width: 55%;
    margin-top: 1em;
  }

  .left-col p {
    padding: 0;
  }

  .wrapper p {
    text-align: left;
    margin-left: 2em;
    font-size: 1.1em;
    margin-top: 0.8em;
  }


  /*--------COLUMS--------*/

  .content {
    width: 90%;
    margin: auto 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }
  .col {
    float: left;
    width: 50%;
  }
  .content h2 {
    font-family: 'Poppins', sans-serif;
    color: #7D8491;
  }

  .col h2:hover {
    color: #242F40;
  }
  .content p {
    padding: 0;
  }
  /*--------FOOTER--------*/

  .contact-info {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }

  .contact-info p{
    font-size: 1em;
    color: grey;
    text-align: center;
  }

  .contact-details {
    text-align: center;
    font-size: 18px;
    padding-left: 0;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 3em;
  }

  #phone,
  #email {
    color: grey;
  }

  .foot-border {
    border-top: 1px solid grey;
  }

  #back-top {
    display: none;
  }

  .nav-footer {
    display: inline-block;
    list-style: none;
    float: right;
  }

  .nav-footer li {
    float: right;
  }

  .nav-footer a {
    text-decoration: none;
    color: black;
    margin-left: 2em;
    margin-right: 1em;
  }

}













@media (min-width: 1024px){
  h1,
  .main-nav,
  .main-nav ul,
  .main-nav li {
    display: inline-block;
    text-align: inherit;
    margin-right: 1em;
  }
  .wrapper h1{
    margin-left: 1.5em;
    padding-top: 1em;
    margin-top: 6px;

  }
  .main-nav ul li{
    border: none;
    background: #fafafa;
  }
  .main-nav{
    float: right;
    padding-top: 1em;

  }

  .header-img {
    display: block;
    width: 70%;
    margin-top: 1.3em;
    margin-right: 3.5em;
    margin-bottom: 3.5em;
  }

  .right-col {
    float: right;
    width: 45%;
  }

  .left-col {
    float: left;
    width: 50%;
  }

  .left-col p {
    padding: 0;
  }

  .wrapper p {
    text-align: left;
    margin-left: 2em;
    font-size: 1.5625em;
    margin-top: 0.8em;
  }


  /*--------COLUMS--------*/

  .content {
    width: 90%;
    margin: auto 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }
  .col {
    float: left;
    width: 33%;
  }
  .content h2 {
    font-family: 'Poppins', sans-serif;
    color: #7D8491;
  }

  .col h2:hover {
    color: #242F40;
  }
  .col p {
    font-size: 1.125em;
  }

  /*--------FOOTER--------*/

  .contact-info {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }

  .contact-info p{
    font-size: 1.5625em;
    color: grey;
    text-align: center;
  }

  .contact-details {
    text-align: center;
    font-size: 18px;
    padding-left: 0;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 3em;
  }

  #phone,
  #email {
    color: grey;
  }

  .foot-border {
    border-top: 1px solid grey;
  }

  #back-top {
    display: none;
  }

  .nav-footer {
    display: inline-block;
    list-style: none;
    float: right;
  }

  .nav-footer li {
    float: right;
  }

  .nav-footer a {
    text-decoration: none;
    color: black;
    margin-left: 2em;
    margin-right: 1em;
  }

}
